.post-nav {
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #eee;
  height: 100%;

  img {
    width:70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  p {
    font-size: 80%;
    padding: 10px;
    margin: 0px;
  }

  a {
    font-size: 80%;
    padding: 10px;
    margin: 0px;
  }

  .description-box {
    width: 80%;
    min-width: 10em;
    margin: 0 auto;
  }

  .title {
    text-align: center;
    padding: .5em;
    background-color: #FEE8D6;
    margin-bottom: 1em;
  }
}
