.post {
  margin: 0 2em;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
}

.post-body {
  padding-top: 1em;
  padding-left: 1em;
}

.comments {
  margin-top: 3em;
  margin-bottom: 1em;
}

.title-photo {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin-bottom: 2em;
}

.center
{
  margin: 2em auto;
  display: block;
}

.caption
{
  color: gray;
}
